.App {
  text-align: center;
  background-image: url('../public/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

}


.card{
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: unset;
}

.card:hover{
  transform: scale(0.9);
}

.card-body{
  position: absolute;
  bottom: 0;
  background: #061c25b8;
  color: #fff;
  width: 100%;

}